.card:hover img{
    transform: scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.9;
}

.card img{
    transform: scale(1.0,1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper{
    overflow:hidden;
}

.member-icons{
    position: absolute;
    bottom:20%;
    opacity: 0;
    margin-right: auto;
    margin-left: auto;
    left:0;
    right:0;
}

.card-img-wrapper:hover .member-icons{
    opacity:1;
    
}


