<div class="container">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <a class="navbar-brand" [routerLink]="['/home']"  >Dating App</a>
 

  
    <ul class="navbar-nav mr-auto">
      <li *ngIf="isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']"  >Matches</a>
      </li>
      <li *ngIf="isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']"  >Lists</a>
      </li>
      <li *ngIf="isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link "  [routerLink]="['/messages']"    >Messages</a>
      </li>
      
    </ul>
    <div *ngIf="isLoggedIn()" class="dropdown" dropdown>
      <span class="mr-1">
      <img src="{{userPhotoUrl || '../../../../assets/user.png' }}"  />
    </span>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{username | titlecase}}
        
      </a>
    
      <div class="dropdown-menu " *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/member/edit']" ><i class="fa fa-user"></i>Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()" ><i class="fa fa-sign-out"></i>Logout</a>
      </div>
    </div>
    <form #loginForm="ngForm" *ngIf="!isLoggedIn()" class="form-inline" (ngSubmit) = "login()" >
      <input class="form-control mr-sm-2" type="text" required name="username" placeholder="Username" [(ngModel)]="model.username" >
      <input class="form-control mr-sm-2" type="password" required name="password" placeholder="Password" [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  
</nav>
</div>