<div class="container mt-5">

<div class="row ">
  <div class="col-sm-4">
    <p></p>
    <h3>Your Profile</h3>
  </div>
  <div class="col-sm-8">
    <p></p>
    <div *ngIf="profileForm.dirty" class="alert alert-info">
      <strong>Information:</strong>you have made changes. Any unsaved changes will be lost.
    </div>
  </div>


</div>

<div class="row ">
  <div class="col-sm-4"> 
    <div class="card" >
      <img class="card-img-top img-thumbnail" src="{{user.mainPhotoUrl || '../../../../../assets/user.png' }}" alt="{{user.knownAs}}" />
      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{user.city}}, {{user.country}}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{user.age}}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{user.lastActive | date}}</p>
        </div>
        <div>
          <strong>Member Since:</strong>
          <p>{{user.created | timeago}}</p>
        </div>
      </div>
      <div class="card-footer">
        
        
          <button [disabled]="!profileForm.dirty" form="profileForm" class="btn btn-success btn-block">Save Changes</button>
        
      </div>      
    </div>
  </div>
  <div class="col-sm-8">
    <div class="">
      <div class="card">
        <h3 class="card-header">Edit Profile</h3>
        <div class="card-body">
          <form #profileForm="ngForm" id="profileForm" name="profileForm" (ngSubmit)="updateUser()">
            <h4 class="card-title">Description</h4>
            <textarea name="introduction" rows="6" class="form-control" [(ngModel)]="user.introduction"></textarea>
            <h4 class="card-title">Description</h4>
            <textarea name="lookingFor" rows="6" class="form-control" [(ngModel)]="user.lookingFor"></textarea>
            <h4 class="card-title">Interests</h4>
            <textarea name="interests" rows="6" class="form-control" [(ngModel)]="user.interests"></textarea>
            <h4 class="card-title">Location Details</h4>
            <div class="form-inline">
              <label for="city">City</label>
              <input type="text" class="form-control" name="city" [(ngModel)]="user.city" />
              <label for="country">Country</label>
              <input type="text" class="form-control" name="country" [(ngModel)]="user.country" />

            </div>
          </form>
        </div>
      </div>
      <p></p>
      <div class="card">
        <h3 class="card-header">Edit Photos</h3>
        <div class="card-body">
          
          <app-memberPhotoEdit [photos]="user.photos" (mainPhotoUrlChange)="updateMainPhotoUrl($event)" ></app-memberPhotoEdit>
          
        </div>
      </div>
      

      

      
      

    </div>
  </div>
</div>

</div>
