.img-thumbnail{
    margin: 25px;
    width: 85%;
    height:55%;
    padding:3px;
}

.card-body {
    padding:0 25px;
    font-size:12px;
}

.card-footer{
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

