<div class="container mt-5">
  <div *ngIf="!isInRegisterMode" style="text-align: center">
    <h1>Find your match</h1>
    <p class="lead">Come on in to view your matches... All you need to do is sign up!</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
      <button class="btn btn-info btn-lg" >Learn more</button>
    </div>
  </div>

  <div *ngIf="isInRegisterMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register [valuesFromParent]="val" (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>

  <div>
    <h3>{{val}}</h3>
  </div>
</div>