<div class="container mt-4">
<div class="row">
  <div class="col-sm-4"> 
    <div class="card mt-5" >
      <img class="card-img-top img-thumbnail" src="{{user.mainPhotoUrl || '../../../../../assets/user.png' }}" alt="{{user.knownAs}}" />
      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{user.city}}, {{user.country}}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{user.age}}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{user.lastActive | date}}</p>
        </div>
        <div>
          <strong>Member Since:</strong>
          <p>{{user.created | timeago}}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Like</button>
          <button class="btn btn-success">Message</button>
        </div>
      </div>      
    </div>
  </div>
  <div class="col-sm-8">
    <div class="mt-5">
      <div class="card">
        <h3 class="card-header">About {{user.knownAs}}</h3>
        <div class="card-body">
          <h4 class="card-title">Description</h4>
          <p class="card-text">{{user.introduction}}</p>
          <h4 class="card-title">Looking For</h4>
          <p class="card-text">{{user.lookingFor}}</p>
          
        </div>
      </div>
      <p></p>
      <div class="card">
        <h3 class="card-header">Interests</h3>
        <div class="card-body">
          
          <p class="card-text">{{user.interests}}</p>
          
        </div>
      </div>

      <p></p>
      <div class="card">
        <h3 class="card-header">Photos</h3>
        <div class="card-body">
          
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
          
        </div>
      </div>

      <p></p>
      <div class="card">
        <h3 class="card-header">Messages</h3>
        <div class="card-body">
          
          <p class="card-text">Messages will go here.</p>
          
        </div>
      </div>

    </div>
  </div>
</div>
</div>
